
p,small,a{
    font-family: serif;
}
nav a {
    font-family:sans-serif;
    font-weight:850;
    color:#415a77

}
.Headd{
    font-family:serif;
    font-size:x-large;
    color:rgba(255, 0, 0, 0.708);
}